.badges {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.badges__header {
  text-align: center;
}

.badges__badge {
  display: flex;
  width: 25%;
  padding: 1rem;
  box-sizing: border-box;
}


.badge__inner {
  margin: 0 auto;
  
  img {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto;
  }
}

